body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

.product-form {
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 20px;
    background-color: #f9faf7;
    padding: 25px;
}

.product-form div {
    padding-top: 10px;
}

.product-form label {
    width: 150px;
    height: 20px;
    display: inline-block;
}
.product-form input[type=text], select {
    width: 250px;
    font-size: 16px;
    height: 25px;
}